<div class='container'>

<!--   <div class='create-form'>
  	<label>Comment:</label>
  	<input type='post-comment-input'>
	<label>Author:</label>
	<input type='post-author-input'>
	<button class='create-button' id='button-create-post'>Create a Post</button>
  </div>

  <div class='post-board' id='post-board'>
  </div> -->

</div>
